
p {
    Color: red;
    Font-family: Arial;
    Font-size: 20px;
}

div p {
    Color: blue;
    Font-size: 10px;
}

.class_test { 
    color: yellow; 
    font-size: 30px;
}
 
.id_test { 
    color: yellow; 
    font-size: 30px;
}
