

body {
   font-family: "Raleway", sans-serif;
   background-color: #83dbec;
}

.jumbotron {
   background-image: url("http://images.fineartamerica.com/images-medium-large/waterlilies-madeleine-holzberg.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   margin-top: 40px;
   padding: 10%;
   background-attachment: fixed;
   background-position: center -238px;
   color: white;
}
 

.self-pic {
   color: white;
   margin-top: 4%;
   padding-bottom: 4%;
   align-items: center;
   padding-left: 5%;
}


.intro {
   margin-top: 70px;
   color: white;
   text-align: center;
   font-size: 1.7em;
}




.about-me {
   color: white;
   padding: 3%;
   padding-top: 4%;
   padding-right: 3%;
   background-color: #f98985;
   text-align: center;

}

.about-me li {
   display: inline-block;
   list-style: none;
}

.mustang {
   margin-top: 15px;
}

.bowdoin {
   width: 70%;
   height: auto;
   margin-top: 6px;
   margin-left: 30px;
}

.TTS {
   margin-top: 15px;
   width: 100%;
}

.panther {
   margin-top: 40px;
}

.empty-space {
   color: white;
   text-align: center;
   font-size: 1.3em;
   padding: 4%;
}


.social-media {
   padding: 2%;
   padding-left: 3%;
   background-color: white;
   color: #f98985;
   width: 100%;
   height: auto;

}

.find-me-on {
   font-size: 2em;
   padding-top: 2%;
   font-family:'Architects Daughter', cursive;
}

.social-media li {
  display: inline-block;
  list-style: none;
  padding: 3%
  font-size: 1.6em;

}

.social-pic {
   padding-top: 3%;
   width: 20%;
   height: auto;
   align-items: center;
}

